@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);
@import url('http://weloveiconfonts.com/api/?family=entypo');

body{
    background-color: cornsilk;
}




/*NEW NAVIGATION STYLING*/
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700); */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    /*   BACKGROUND FROM: subtlepatterns.com */
        /*   /*   background:url(http://subtlepatterns.com/patterns/footer_lodyas.png); */
}

.nav {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: #222;
}

.navItem,
.navItem a {
    display: inline-block;
    flex-grow: 1;
}

.navItem a {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.4);
    font-weight: 600;
    font-size: 18px;
}

.navItem:nth-of-type(1) {
    border-bottom: 2px solid #D60F3A;
}

.navItem:nth-of-type(1) a:hover {
    background: #D60F3A;
}

.navItem:nth-of-type(2) {
    border-bottom: 2px solid #8317AD;
}

.navItem:nth-of-type(2) a:hover {
    background: #8317AD;
}

.navItem:nth-of-type(3) {
    border-bottom: 2px solid #3116DE;
}

.navItem:nth-of-type(3) a:hover {
    background: #3116DE;
}

.navItem:nth-of-type(4) {
    border-bottom: 2px solid #0E8FC2;
}

.navItem:nth-of-type(4) a:hover {
    background: #0E8FC2;
}

.navItem:nth-of-type(5) {
    border-bottom: 2px solid #0EC23E;
}

.navItem:nth-of-type(5) a:hover {
    background: #0EC23E;
}

.navItem:nth-of-type(6) {
    border-bottom: 2px solid #CFCF13;
}

.navItem:nth-of-type(6) a:hover {
    background: #CFCF13;
}





/*END OF NEW NAVIGATION STYLING*/


.home p {
    color: #fff;
    font-size: 1.4em;
}

.small-6 h1 {
    color: #f1f1f1;
    margin-top: 5rem;
}

.expanded {
    background-image: url(../img/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 115vh;
}

.row .row {
    margin-right: 35rem;
}

.small-6 p {
    margin-top: 2rem;
}

.style p {
    text-align: center;
}


.about, .portfolio, .style {
    margin-top: 10rem;
}

.about, .portfolio p {
    text-align: center;
}

.about,.portfolio, .style h1 {
    color: gray;
    text-align: center;
}

.about,.portfolio, .style  img {
    padding: 3%;
}


/*contact section*/

*:focus {
    outline: 0;
}

.dim:hover {
    margin-top: 5px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
}

#container {
    margin: auto;
    width: 800px;
    margin-bottom: 50px;
    overflow: auto;
}

#demo {
    width: 300px;
    font-family: 'Lato', calibri, arial;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    text-align: left;
    background: none;
    overflow: auto;
    float: left;
    margin-left: 40px;
    color: #fff;
}

#demo p {
    font-family: 'Lato', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #000;
}

#demo h1 {
    font-family: 'Lato', calibri, arial;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

#demo img {
    display: block;
    float: left;
    margin-right: 10px;
    border: 0px solid #888;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


/* Below is the design for the contact form */

#contact-wrap {
    font-family: 'Lato', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    width: 402px;
    color: #000;
    overflow: auto;
    float: left;
}

#contact-area {
    margin-left: 3px;
    width: 342px;
    padding: 20px;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 342px;
    font-family: 'Lato', calibri, arial;
    font-size: 14px;
    font-weight: 300;
    color: red;
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 15px;
}

#contact-area textarea {
    height: 150px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
}

#contact-area textarea:focus,
#contact-area input:focus {
    background-color: #333;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;
}

#contact-area input.submit-button {
    font-family: 'Lato', calibri, arial;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {
    color: #000;
    background-color: #333;
}

label {
    float: left;
    text-align: left;
    margin-right: 16px;
    width: 100px;
    padding-top: 5px;
    font-family: 'Lato', calibri, arial;
    font-size: 18px;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #000;
    font-size: 14px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
    font-size: 14px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #000;
    font-size: 14px;
}


/*end of contact section*/


/*footer section*/

footer a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid #22A7F0;
    padding-bottom: 1px;
    cursor: pointer;
}

footer a:hover {
    border-bottom: 2px dotted #22A7F0;
}

footer {
    clear: both;
    height: 5px;
    background-color: #375557;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.text-footer {
    margin: 1% auto;
    width: 183px;
    color: white;
}

footer ul li a {
    border: none;
}

.social-ul {
    margin: 0 auto;
    width: 317px;
    margin-top: -39px;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    line-height: 40px;
    font-family: Entypo;
    font-size: 20px;
    text-align: center;
    color: #555;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    transition: color .3s;
}

.social:hover {
    color: #22A7F0;
    cursor: pointer;
}


/*end of footer section*/

.top-bar a {
    color: #375557;
}









/*IMAGE HOVER TESTING*/


figure.effect-milo img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-milo:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}


figure.effect-milo p {
    padding: 0 10px 0 0;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/*'END OF IMAGE HOVER TESTING'*/





/*GRID EFFECTS*/

.grid figure {
    position: relative;
    cursor: pointer;
}

.grid figure img {
    margin-bottom: 20%;
    position: relative;
    display: block;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*END OF GRID EFFECTS*/