.small-6 h1{
    color: #f1f1f1;
    margin-top: 5rem;
}
.expanded{
     background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.row .row {
        margin-right: 35rem;

}

.small-6 p{
   margin-top: 2rem;

}


.style{
    margin-top: 10rem;
}
.style p{
    text-align: center;
}

.style h1{
    color: gray;
    text-align: center;
}

.style img{
    padding: 3%;
}